body {
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 20px; 
}

.container {
    max-width: 860px;
    margin: auto; 
    padding: 0; 
}

.navbar {
    background-color: #007bff;
    padding: 3px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.navbar .logo {
 color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

header {
    height: auto;
    margin-bottom: 20px;
}

h1.title {
    color: #0056b3;
    font-size: 30px;
    margin-left: 250px;
}

h1 {
    color: #0056b3;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    color: #0056b3;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    color: #444;
    text-align: justify;
}


pre.r, pre.sourceCode {
  max-height: 250px; 
  overflow-y: auto; 
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
